/*****General Styles *****/
.flex {
    display: flex;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .full-width {
    width: 100%;
  }
  
  .full-height {
    height: 100%;
  }
  
  /***** Styles *****/
  
  html {
    height: 100vh;
    width: 100%;
    cursor: none;
    box-sizing: border-box;
  }
  
  body {
    background-color: #6c5fe1;
    color: black;
    font-family: "Rubik", serif;
    font-size: 32px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    cursor: none;
  }

  .custom-cursor {
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: difference;

  }

  /*.site-wide {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid rgb(9, 79, 111);
  }*/

  .site-wide .pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(9, 155, 171);
    border: 4px solid rgb(203, 244, 109);
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out;
  }

  .site-wide.active .pointer {
    width: 5px;
    height:5px;
  }
  

  main {
    width: 90%;
  }

  h1 {
    text-align: center;
  }